@import './normalize.css';

:root{
    --color-text:#666;
    --color-high-text:#f3ef14;
    --color-tint:#42bbaa;
    --color-background:white;
    --font-size:14px;
}
*,
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* 禁止用户选择中文文件或图片 */
    user-select: none; 
    background: var(--color-background);
    color: var(--color-text);
    width: 100vw;

}

a{
    color: var(--color-text);
    text-decoration: none;
}

.left{
    float: left;
}
